# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store

# Env
.env
.env.*

# Prisma
/backend/prisma/*.db
/backend/prisma/migrations/*/steps.json

# Logs
logs
*.log
*.sqlite

# Editor
.vscode
.idea
.DS_Store

# Build
/backend/dist
